*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
  font-family: "Roboto", sans-serif;
  padding: 10px;
}

.details-container {
  width: 100%;
}

header {
  padding: 25px;
  display: flex;
  justify-content: center;
}

.sel-input {
  width: 250px;
  padding: 5px 10px;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  border: 1px solid #125b50;
  border-radius: 5px;
  outline: none;
}

.sel-btn {
  font-size: 1rem;
  padding: 8px 16px;
  margin-left: 10px;
  text-transform: uppercase;
  background-color: #fff;
  color: #125b50;
  border: 1px solid #125b50;
  border-radius: 5px;
  cursor: pointer;
}

.sel-btn:hover {
  background-color: #125b50;
  color: #fff;
}

.row-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.row {
  width: 50%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
}

.row-check {
  flex-basis: 50px;
}

.row-check:checked {
  accent-color: #125b50;
}

.row-title {
  flex-basis: 180px;
}

.row-id {
  flex-basis: 30px;
}

.row-body {
  flex-basis: 400px;
}

.sel-details {
  width: 48%;
  padding: 5px;
  border-bottom: 1px solid #7d6e83;
}
